pandas
numpy
scikit-learn
lightgbm
shap
gensim
tqdm
torch
torchvision
Pillow
joblib
selenium
undetected-chromedriver
selenium-stealth
beautifulsoup4
webdriver-manager
flask
google-generativeai
requests
python-dotenv