-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "admin";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "analytics";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "core";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "mlops";

-- CreateEnum
CREATE TYPE "auth"."Role" AS ENUM ('USER', 'ADMIN');

-- CreateEnum
CREATE TYPE "core"."ScanStatus" AS ENUM ('PENDING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "core"."ReviewStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateTable
CREATE TABLE "auth"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" "auth"."Role" NOT NULL DEFAULT 'USER',
    "is_verified" BOOLEAN NOT NULL DEFAULT false,
    "is_2fa_enabled" BOOLEAN NOT NULL DEFAULT false,
    "last_login" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."user_sessions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "refresh_token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" TEXT,
    "user_agent" TEXT,

    CONSTRAINT "user_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."email_verification_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "email_verification_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."two_factor_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "two_factor_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth"."password_reset_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."scans" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "url" TEXT NOT NULL,
    "status" "core"."ScanStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_deleted" BOOLEAN NOT NULL DEFAULT false,
    "deleted_at" TIMESTAMP(3),
    "deleted_by" TEXT,

    CONSTRAINT "scans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."scan_results" (
    "id" TEXT NOT NULL,
    "scan_id" TEXT NOT NULL,
    "prediction" TEXT NOT NULL,
    "confidence_score" DOUBLE PRECISION NOT NULL,
    "phishing_probability" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "scan_results_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."scan_shap_values" (
    "id" TEXT NOT NULL,
    "scan_result_id" TEXT NOT NULL,
    "feature_name" TEXT NOT NULL,
    "shap_value" DOUBLE PRECISION NOT NULL,
    "modality" TEXT NOT NULL,

    CONSTRAINT "scan_shap_values_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."scan_explanations" (
    "id" TEXT NOT NULL,
    "scan_result_id" TEXT NOT NULL,
    "llm_text" TEXT NOT NULL,

    CONSTRAINT "scan_explanations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."scan_screenshots" (
    "id" TEXT NOT NULL,
    "scan_result_id" TEXT NOT NULL,
    "image_url" TEXT,
    "base64_data" TEXT,

    CONSTRAINT "scan_screenshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."malicious_ip_observations" (
    "id" TEXT NOT NULL,
    "scan_id" TEXT NOT NULL,
    "ip_address" TEXT NOT NULL,
    "geo_lat" DOUBLE PRECISION,
    "geo_long" DOUBLE PRECISION,
    "country" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "malicious_ip_observations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."reviews" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT,
    "status" "core"."ReviewStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "core"."testimonials" (
    "id" TEXT NOT NULL,
    "review_id" TEXT NOT NULL,
    "published_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "display_text" TEXT,

    CONSTRAINT "testimonials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin"."audit_logs" (
    "id" TEXT NOT NULL,
    "admin_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "details" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "analytics"."daily_scan_stats" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "total_scans" INTEGER NOT NULL DEFAULT 0,
    "benign_count" INTEGER NOT NULL DEFAULT 0,
    "phishing_count" INTEGER NOT NULL DEFAULT 0,
    "unique_users" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "daily_scan_stats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "analytics"."model_metrics_daily" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "false_positive_rate" DOUBLE PRECISION,
    "true_positive_rate" DOUBLE PRECISION,
    "accuracy" DOUBLE PRECISION,
    "total_samples" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "model_metrics_daily_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mlops"."pipeline_health_logs" (
    "id" TEXT NOT NULL,
    "service_name" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "latency_ms" INTEGER,
    "error_details" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pipeline_health_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mlops"."retraining_jobs" (
    "id" TEXT NOT NULL,
    "triggered_by" TEXT NOT NULL,
    "start_time" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "end_time" TIMESTAMP(3),
    "status" TEXT NOT NULL,
    "metrics_summary" TEXT,

    CONSTRAINT "retraining_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "auth"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "scan_results_scan_id_key" ON "core"."scan_results"("scan_id");

-- CreateIndex
CREATE UNIQUE INDEX "scan_explanations_scan_result_id_key" ON "core"."scan_explanations"("scan_result_id");

-- CreateIndex
CREATE UNIQUE INDEX "scan_screenshots_scan_result_id_key" ON "core"."scan_screenshots"("scan_result_id");

-- CreateIndex
CREATE UNIQUE INDEX "malicious_ip_observations_scan_id_key" ON "core"."malicious_ip_observations"("scan_id");

-- CreateIndex
CREATE UNIQUE INDEX "testimonials_review_id_key" ON "core"."testimonials"("review_id");

-- CreateIndex
CREATE UNIQUE INDEX "daily_scan_stats_date_key" ON "analytics"."daily_scan_stats"("date");

-- CreateIndex
CREATE UNIQUE INDEX "model_metrics_daily_date_key" ON "analytics"."model_metrics_daily"("date");

-- AddForeignKey
ALTER TABLE "auth"."user_sessions" ADD CONSTRAINT "user_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auth"."email_verification_tokens" ADD CONSTRAINT "email_verification_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auth"."two_factor_tokens" ADD CONSTRAINT "two_factor_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auth"."password_reset_tokens" ADD CONSTRAINT "password_reset_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."scans" ADD CONSTRAINT "scans_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."scan_results" ADD CONSTRAINT "scan_results_scan_id_fkey" FOREIGN KEY ("scan_id") REFERENCES "core"."scans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."scan_shap_values" ADD CONSTRAINT "scan_shap_values_scan_result_id_fkey" FOREIGN KEY ("scan_result_id") REFERENCES "core"."scan_results"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."scan_explanations" ADD CONSTRAINT "scan_explanations_scan_result_id_fkey" FOREIGN KEY ("scan_result_id") REFERENCES "core"."scan_results"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."scan_screenshots" ADD CONSTRAINT "scan_screenshots_scan_result_id_fkey" FOREIGN KEY ("scan_result_id") REFERENCES "core"."scan_results"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."malicious_ip_observations" ADD CONSTRAINT "malicious_ip_observations_scan_id_fkey" FOREIGN KEY ("scan_id") REFERENCES "core"."scans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."reviews" ADD CONSTRAINT "reviews_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "core"."testimonials" ADD CONSTRAINT "testimonials_review_id_fkey" FOREIGN KEY ("review_id") REFERENCES "core"."reviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

